* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "NanumSquare", sans-serif;
}

:root {
  --main-color: #0078d7;
  --point-color: #f27935;
  --sub-color: #5eb3ff;
  --background-color: #f4f8fc;
  --component-color: #cee5fd;
  --title-font-color: #333333;
  --content-font-color: #555555;
  --disabled-color: #b3c1d1;
}
