.wrapper {
  margin: 100px 0px;
  display: flex;
  gap: 20px;
  padding: 0px 50px;
  height: 100vh;
}

.sub-wrapper {
  background-color: rgb(94, 179, 225, 0.3);
  padding: 40px;
  border-radius: 1rem;
}

.label {
  font-size: 24px;
  font-weight: bold;
}

.left-wrapper {
  width: 35%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.left-top-wrapper {
  background-color: var(--sub-color);
  background-color: rgb(94, 179, 225, 0.3);
  /* flex-grow: 0.1; */
  height: 300px;
  border-radius: 1rem;
  padding: 40px;
}

.temp {
  text-align: center;
  font-size: 40px;
}

.current-icon {
  width: 60%;
}

.weather {
  font-size: 20px;
  /* background-color: aqua; */
  padding: 10px 0px;
}

.today {
  font-size: 20px;
  /* border-top: 1px solid gray; */
  /* margin-top: 20px; */
  /* padding: 20px 0px; */
  height: 24px;
  line-height: 28px;
}

.temp-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  /* background-color: blue; */
  height: 120px;
}

.left-bottom-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex-grow: 1.5;
  border-radius: 1rem;
  padding: 40px;
}

.forecast-list {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  /* background-color: blue; */
  /* background-color: green; */
}

.img {
  width: 24px;
  height: 24px;
  /* background-color: pink; */
}

.today-wrapper {
  /* background-color: blue; */
  display: flex;
  align-items: center;
  height: 24px;
  gap: 10px;
  border-top: 1px solid gray;
  /* margin-top: 30px 0px; */
  padding: 30px 0px;
  /* justify-content: center; */
  align-items: center;
  align-content: center;
}

.forecast-list-container {
  display: flex;
}

.forecast-left {
  display: flex;
  /* background-color: orange; */
  align-items: center;
}

.right-wrapper {
  width: 65%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.right-top-wrapper {
  flex-grow: 1;
  border-radius: 1rem;
  display: flex;
  gap: 10px;
}

.right-top-container {
  /* background-color: pink; */
  width: 15%;
  /* height: 50%; */
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  gap: 0px;
}

.right-middle-wrapper {
  flex-grow: 4;
  border-radius: 1rem;
}

.right-middle-bottom-wrapper {
  display: flex;
  gap: 20px;
}

.right-middle-bottom-container {
  background-color: orange;
}

.bottom-container {
  display: flex;
}

.right-middle-top-wrapper {
  display: flex;
}

.right-left-wrapper {
  width: 50%;
  /* background-color: pink; */
}

.right-left-bottom-wrapper {
  display: flex;
}

.sun-wrapper {
  display: flex;
}

.right-right-wrapper {
  width: 50%;
  /* background-color: blue; */
}

.airPollution-wrapper {
  display: flex;
  flex-direction: column;
}

.right-bottom-wrapper {
  flex-grow: 0.2;
  border-radius: 1rem;
  display: flex;
  gap: 20px;
}

.wind-wrapper {
  width: 50%;
}

.wind-container {
  display: flex;
  flex-direction: column;
}

.wind-list {
  display: flex;
  height: 90px;
  line-height: 90px;
  font-size: 20px;
  justify-content: space-between;
}
