.rows {
  background-color: #c9e5ff;
  padding: 30px;
  border-radius: 10px;
}

.campus_info {
  font-family: "NanumSquare";
  margin: 20px;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
}

.campus_card {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.img img {
  width: 300px;
  height: auto;
  border-radius: 10px;
}

.details .title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.details ul {
  list-style: none;
}

.details li {
  display: flex;
  margin-bottom: 10px;
}

.lab {
  font-weight: bold;
  min-width: 100px;
  text-align: left;
}

.val {
  color: #505050;
}

.campus_map_group {
  list-style-type: none;
}

.card-grid {
  gap: 20px;
  width: 100%;
  max-width: 1000px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  padding: 20px;
}

.card {
  background-color: #d1e7ff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  text-align: center;
}

.card-top {
  background-color: #d1e7ff;
  overflow: hidden;
  width: 180px;
  height: 120px;
}
.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-bottom {
  background-color: #d3d3d3;
  height: 60px;
}

.card:hover {
  transform: scale(1.05);
}

.ordernum button {
  background-color: #d3d3d3;
  border: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 10px;
  font-weight: bold;
  color: #555555;
}

.ordernum button:hover {
  background-color: #a1a1a1;
}

.ordernum .active {
  background-color: #b3c1d1;
}

.gallery {
  position: relative;
  display: flex;
  flex-direction: row;
}

.img1 {
  top: 40%;
  z-index: 4;
}

.img2 {
  top: 30%;
  z-index: 3;
}

.img3 {
  top: 20%;
  z-index: 2;
}

.img4 {
  top: 10%;
  z-index: 1;
}
.photo {
  position: relative;
  width: 100px;
  height: 100px;
  cursor: pointer;
  /* flex-shrink: 0; */
}

.photo.active {
  transform: scaleX(2);
  transform-origin: left;
  transition:
    transform 0.3s ease,
    width 0.3s ease,
    height 0.3s ease;
}
