.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  margin: 8rem 0px;
}

.Bustitle {
  height: 200px;
  line-height: 200px;
  border-bottom: 1px solid gray;
  width: 100%;
  text-align: center;
}

.sub-title {
  color: var(--main-color);
  width: 80%;
  text-align: center;
  height: 80px;
  font-size: 32px;
  margin-top: 80px;
  border-top: 1px solid gray;
  padding-top: 30px;
}

.black {
  width: 180px;
  background-color: black;
  color: white;
  text-align: center;
}

.text {
  text-align: center;
  line-height: 250%;
}

.button {
  width: 150px;
  height: 60px;
  background-color: var(--main-color);
  font-size: 2rem;
  color: var(--component-color);
  border-radius: 20px;
  border: none;
}

.button:hover {
  background-color: var(--point-color);
}

@media (max-width: 390px) {

  .Bustitle {
    height: 10rem;
    line-height: 10rem;
    border-bottom: 1px solid gray;
    width: 100%;
    text-align: center;
    font-size: 3rem;
  }
  .busimg{
    width: 100%;
    height: auto;
  }
  .subwaytitle {
    height: 10rem;
    line-height: 10rem;
    border-bottom: 1px solid gray;
    width: 100%;
    text-align: center;
    font-size: 3rem;
  }
  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin: 8rem 2rem;
  }
}