.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  margin: 8rem 0px;
}

.subwaytitle {
  height: 20rem;
  line-height: 20rem;
  border-bottom: 1px solid gray;
  width: 100%;
  text-align: center;
}

.sub-title {
  color: var(--main-color);
  width: 80%;
  text-align: center;
  height: 80px;
  font-size: 32px;
  margin-top: 80px;
  border-top: 1px solid gray;
  padding-top: 30px;
}

.none {
  border: none;
}

.subwayImg {
  height: 600px;
  border-radius: 20px;
}

.subwayContainer {
  display: flex;
  gap: 40px;
  margin: 70px 0px;
  padding: 0 8rem 0 8rem;
}

.text {
  text-align: center;
  line-height: 250%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.subwaycard {
  width: 50%;
  border-radius: 20px;
}
.subwaycard2 {
  width: 50%;
  border-radius: 20px;
}
.card2 {
  width: 70%;
  border-radius: 20px;
}

@media (max-width: 390px) {
  html {
    /* font-size: 18%; */
  }


  .subwayImg {
    height: 300px;
    border-radius: 20px;
  }
  .sub-title {
    color: var(--main-color);
    width: 80%;
    text-align: center;
    height: 30px;
    font-size: 20px;
    margin-top: 30px;
    /* border-top: 1px solid gray; */
    padding-top: 30px;
  }
  .subwayContainer {
    display: flex;
    gap: 20px;
    margin: 20px 0px;
    padding: 0 2rem 0 2rem;
    flex-direction: column;
    align-items: center;
  } 
  .subwaytitle {
    height: 10rem;
    line-height: 10rem;
    border-bottom: 1px solid gray;
    width: 100%;
    text-align: center;
    font-size: 3rem;
  }
  .text {
    text-align: center;
    line-height: 250%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0rem 2;
  }
  .subwaycard2 {
    width: 100%;
    border-radius: 20px;
    padding: 0rem 2;

  }
  .card2 {
    width: 90%;
    border-radius: 20px;
    padding: 0rem 2rem;

  }
  
  
}